@model IEnumerable<MVC_CHANGE_PASSWORD.Models.TBL_REGISTRATION>

@{
    ViewBag.Title = "ShowUser";
}

<h2>ShowUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RID })
        </td>
    </tr>
}

</table>
